@import "src/assets/styles/global";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #1E1E20;
}
//
//@media screen and (max-width: $Tablet) {
//  .wrapper {
//    padding-top: (190px/$val);
//  }
//}
//
//@media screen and (max-width: $Mobile) {
//  .wrapper {
//    padding-top: 43px;
//  }
//}
