@import "../../../assets/styles/global";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.69);

  .container {
    width: 1366px;
    padding-top: 100px;

    .members {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

//@media screen and (max-width: $Mobile) {
//  .wrapper {
//    padding-bottom: 30px;
//  }
//
//  .title {
//    font-size: 27px;
//    line-height: 40px;
//  }
//
//  .video {
//    align-self: center;
//    margin-top: 20px;
//    margin-right: 0;
//
//
//    iframe {
//      width: 260px;
//      height: 143px;
//    }
//  }
//}
