@import "../../../assets/styles/global";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.69);
  z-index: 1;

  .container {
    width: 1366px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;

    .content {
      position: relative;
      margin-top: 50px;

      .frameMobile {
        display: none;
      }

      .border {
        width: 1388px;

        img {
          width: 100%;
        }
      }

      .frameLeft {
        width: 590px;
        position: absolute;
        top: -22px;
        left: 0;

        img {
          width: 100%;
        }
      }

      .frameRight {
        width: 590px;
        position: absolute;
        top: -22px;
        right: 0;
        transform: scale(-1, 1);

        img {
          width: 100%;
        }
      }

      .title {
        position: absolute;
        top: 15px;
        font-family: $Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 87px;
        color: #FFFFFF;
      }

      .description {
        position: absolute;
        top: 180px;
        width: 500px;
        font-family: $Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
      }
    }

    .textBgd {
      .title,
      .description {
        left: 100px;
      }
    }

    .textIgda {
      .title,
      .description {
        right: 100px;
      }
    }
  }
}

@media screen and (max-width: $Tablet) {
  .wrapper {

    .container {
      width: (1366px/$val);
      padding: (100px/$val) 0;

      .content {
        margin-top: (50px/$val);

        .frameLeft {
          width: (590px/$val);
          top: (-22px/$val);
        }

        .frameRight {
          width: (590px/$val);
          top: (-22px/$val);
        }

        .border {
          width: (1388px/$val);
        }

        .title {
          top: (15px/$val);
          font-size: (64px/$val);
          line-height: (87px/$val);
        }

        .description {
          top: (180px/$val);
          width: (500px/$val);
          font-size: (27px/$val);
          line-height: (37px/$val);
        }
      }

      .textBgd {
        .title,
        .description {
          left: (100px/$val);
        }
      }

      .textIgda {
        .title,
        .description {
          right: (100px/$val);
        }
      }
    }
  }
}

@media screen and (max-width: $Mobile) {
  .wrapper {
    background: rgba(0, 0, 0, 0.59);

    .container {
      width: 100%;
      max-width: 455px;
      padding: 64px 0 0;
      align-items: center;

      .content {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .border,
        .frameLeft,
        .frameRight {
          display: none;
        }

        .frameMobile {
          display: block;
        }

        .title {
          position: absolute;
          top: 16px;
          font-size: 32px;
          line-height: 39px;
        }

        .description {
          position: absolute;
          top: 110px;
          width: 305px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
          line-height: 19px;
        }
      }

      .textBgd {
        position: relative;
      }

      .textIgda {
        margin-top: 24px;
        position: relative;

        .frameMobile {
          transform: scale(-1, 1);
        }
      }
    }
  }
}
