@import "../../../assets/styles/global";

.wrapper {
  position: relative;
  width: 100%;
  padding: 212px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000;

  .title {
    font-family: $Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 102px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 28px #00FFE0;
    z-index: 1;

    span {
      font-weight: bold;
      color: #00FFE0;
    }
  }

  .description {
    margin-top: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;

    .frame {
      width: 1183px;

      img {
        width: 100%;
      }
    }

    .frameMobile {
      display: none;
    }

    .text {
      position: absolute;
      top: 32px;
      width: 1111px;
      font-family: $Nunito;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 155%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  .backgroundImg {
    width: 750px;
    position: absolute;
    left: 0;
    top: 12px;
    filter: blur(3px);

    img {
      width: 100%;
    }

    &:nth-child(2) {
      transform: scale(-1, 1);
      left: auto;
      right: 0;
    }
  }

  .blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.59);
  }
}


@media screen and (max-width: $Tablet) {
  .wrapper {
    padding: (212px/$val) 0 (80px/$val);

    .title {
      font-size: (75px/$val);
      line-height: (102px/$val);
    }

    .description {
      margin-top: (48px/$val);

      .frame {
        width: (1183px/$val);
      }

      .text {
        top: (32px/$val);
        width: (1111px/$val);
        font-size: (18px/$val);
      }
    }

    .backgroundImg {
      width: (750px/$val);
      top: (12px/$val);
    }
  }
}

@media screen and (max-width: $Mobile) {
  .wrapper {
    padding: 32px 0 0;
    background: #1E1E20;

    .title {
      font-size: 24px;
      line-height: 33px;
    }

    .description {
      margin-top: 16px;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 1;

      .frame {
        display: none;
      }

      .frameMobile {
        display: block;

        img {
          width: 100%;
        }
      }

      .text {
        top: 8px;
        width: 328px;
        font-size: 9px;
        line-height: 155%;
      }
    }

    .backgroundImg {
      width: 150px;
      filter: blur(1px);
    }
  }

}
