@import "../../../../assets/styles/global";

.wrapper {
  position: relative;
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  display: flex;
  justify-content: center;

  .container {
    cursor: grab;
    width: 100%;

    img {
      width: 300px;
      height: 360px;
      margin: 0 auto;
    }
  }

  .leftTop {
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
    }
  }

  .leftBot {
    width: 72px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);

    img {
      width: 100%;
    }
  }

  .rightTop {
    width: 72px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);

    img {
      width: 100%;
    }
  }

  .rightBot {
    width: 72px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);

    img {
      width: 100%;
    }
  }

  .nextArrow,
  .prevArrow {
    width: 30px;
    position: absolute;
    top: 50%;
    cursor: pointer;

    svg {
      width: 100%;

      path {
        transition: .3s;
      }

      &:hover {
        path {
          fill: #00FFE0;
        }
      }
    }
  }

  .nextArrow {
    right: -50px;
    transform: rotate(180deg) translateY(50%);
  }

  .prevArrow {
    left: -50px;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: $Tablet) {
  .wrapper {
    margin-top: (100px/$val);
    padding: (50px/$val);

    .container {

      img {
        width: (300px/$val);
        height: (360px/$val);
      }
    }

    .leftTop {
      width: (72px/$val);
    }

    .leftBot {
      width: (72px/$val);
    }

    .rightTop {
      width: (72px/$val);
    }

    .rightBot {
      width: (72px/$val);
    }

    .nextArrow,
    .prevArrow {
      width: (30px/$val);
    }

    .nextArrow {
      right: (-50px/$val);
    }

    .prevArrow {
      left: (-50px/$val);
    }
  }
}

@media screen and (max-width: $Mobile) {
  .wrapper {
    margin-top: 32px;
    padding: 0 16px;

    .container {
      padding: 0 8px;
      width: 100%;
      max-width: 455px;

      img {
        width: 130px;
        height: 155px;
        margin: 0 auto;
      }
    }

    .leftTop,
    .leftBot,
    .rightTop,
    .rightBot {
      display: none;
    }

    .nextArrow {
      right: -24px;
    }

    .prevArrow {
      left: -24px;
    }
  }
}
