.wrapper {
  position: relative;
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  display: flex;
  justify-content: center;

  .container {
    cursor: grab;
    width: 100%;

    img {
      width: 300px;
      height: 360px;
      margin: 0 auto;
    }
  }

  .leftTop {
    position: absolute;
    top: 0;
    left: 0;
  }

  .leftBot {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
  }

  .rightTop {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(90deg);
  }

  .rightBot {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }

  .nextArrow,
  .prevArrow {
    position: absolute;
    top: 50%;
    cursor: pointer;

    path {
      transition: .3s;
    }

    &:hover {
      path {
        fill: #00FFE0;
      }
    }
  }

  .nextArrow {
    right: -50px;
    transform: rotate(180deg) translateY(50%);
  }

  .prevArrow {
    left: -50px;
    transform: translateY(-50%);
  }
}

//@media screen and (max-width: $Mobile) {
//  .wrapper {
//    padding-bottom: 30px;
//  }
//
//  .title {
//    font-size: 27px;
//    line-height: 40px;
//  }
//
//  .video {
//    align-self: center;
//    margin-top: 20px;
//    margin-right: 0;
//
//
//    iframe {
//      width: 260px;
//      height: 143px;
//    }
//  }
//}
