@import "src/assets/styles/global";

.wrapper {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #000000;
  background: rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(3px);
  z-index: 999;

  .container {
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 320px;
      padding: 10px 0;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .navmenu {
      display: flex;

      a {
        position: relative;
        text-align: center;
        margin-right: 24px;
        font-family: $Gotham;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        cursor: pointer;
        transition: .3s;

        &:last-child {
          margin-right: 0;
        }

        &::before {
          display: block;
          content: attr(name);
          font-weight: bold;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          height: 2px;
          width: 100%;
          background: #00FFE0;
          border-radius: 6px;
          opacity: 0;
          transition: .3s;
        }

        &:hover {
          font-weight: bold;
        }
      }

      .active {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  .humburgerMenu,
  .closeWrap {
    display: none;
  }
}

@media screen and (max-width: $Tablet) {
  .wrapper {

    .container {
      width: (1366px/$val);

      .logo {
        width: (320px/$val);
        padding: (10px/$val) 0;
      }

      .navmenu {

        a {
          margin-right: (24px/$val);
          font-size: (16px/$val);
          line-height: (19px/$val);

          &:after {
            bottom: (-4px/$val);
            height: (2px/$val);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $Mobile) {
  .wrapper {
    display: none;
  }
}
