@import "../../assets/styles/global";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(114, 166, 214, 0.55) -32.44%, rgba(114, 166, 214, 0) 80.2%);

  .container {
    padding-bottom: 50px;
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contacts {
      padding-top: 40px;
      display: flex;
      flex-direction: column;

      .title {
        font-family: $Nunito;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 65px;
        color: #FFFFFF
      }

      .email {
        padding: 30px 0 25px;
        display: flex;
        align-items: center;

        .mailImg {
          width: 40px;

          img {
            width: 100%;
          }
        }

        a {
          margin-left: 25px;
          font-family: $Nunito;
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 44px;
          color: #FFFFFF;
          text-decoration: none;
        }
      }

      .phone {
        display: flex;
        align-items: center;

        .phomeImg {
          width: 40px;

          img {
            width: 100%;
          }
        }

        a {
          margin-left: 25px;
          font-family: $Nunito;
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 44px;
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-family: $Gotham;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
      }

      .links {
        padding-top: 25px;
        display: flex;

        .twitter,
        .facebook,
        .vk,
        .telegram {
          width: 75px;

          img {
            width: 100%;
            transition: .3s;
          }
        }

        a {
          margin-right: 32px;
          border-radius: 50%;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  .copyright {
    padding-bottom: 25px;
    font-family: $Gotham;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

@media screen and (max-width: $Tablet) {
  .wrapper {

    .container {
      padding-bottom: (50px/$val);
      width: (1366px/$val);

      .contacts {
        padding-top: (40px/$val);

        .title {
          font-size: (48px/$val);
          line-height: (65px/$val);
        }

        .email {
          padding: (30px/$val) 0 (25px/$val);

          .mailImg {
            width: (40px/$val);
          }

          a {
            margin-left: (25px/$val);
            font-size: (32px/$val);
            line-height: (44px/$val);
          }
        }

        .phone {

          .phomeImg {
            width: (40px/$val);
          }

          a {
            margin-left: (25px/$val);
            font-size: (32px/$val);
            line-height: (44px/$val);
          }
        }
      }

      .social {

        .title {
          font-size: (32px/$val);
          line-height: (38px/$val);
        }

        .links {
          padding-top: (25px/$val);

          .twitter,
          .facebook,
          .vk,
          .telegram {
            width: (75px/$val);
          }

          a {
            margin-right: (32px/$val);
          }
        }
      }
    }

    .copyright {
      padding-bottom: (25px/$val);
      font-size: (16px/$val);
      line-height: (22px/$val);
    }
  }
}

@media screen and (max-width: $Mobile) {
  .wrapper {
    margin-top: 32px;
    padding: 0 16px;

    .container {
      padding-bottom: 24px;
      width: 100%;
      max-width: 455px;

      .contacts {
        padding-top: 16px;

        .title {
          font-size: 14px;
          line-height: 19px;
        }

        .email {
          padding: 8px 0;

          .mailImg {
            width: 18px;
          }

          a {
            margin-left: 8px;
            font-size: 12px;
            line-height: 16px;
          }
        }

        .phone {
          .phomeImg {
            width: 18px;
          }

          a {
            margin-left: 8px;
            font-size: 14px;
            line-height: 19px;
          }
        }
      }

      .social {
        .title {
          font-size: 14px;
          line-height: 17px;
        }

        .links {
          padding-top: 8px;

          .twitter,
          .facebook,
          .vk,
          .telegram {
            width: 18px;
          }

          a {
            margin-right: 8px;
          }
        }
      }
    }

    .copyright {
      padding-bottom: 8px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}
