@import "../../../assets/styles/global";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.69);
  z-index: 1;

  .container {
    width: 1366px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: $Tablet) {
  .wrapper {

    .container {
      width: (1366px/$val);
      padding-top: (100px/$val);
    }
  }
}

@media screen and (max-width: $Mobile) {
  .wrapper {
    background: rgba(0, 0, 0, 0.59);

    .container {
      width: 100%;
      max-width: 455px;
      padding-top: 64px;
    }
  }
}
